<div align="center">
  <h1>List CSVs</h1>

  <br /><br /><br />

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">File Names</th>
        <th scope="col">Downloads</th>
        <th scope="col", colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @parcels.each do |parcel| %>
        <tr>
          <td><%= parcel.file_name %></td>
          <td><%= parcel.status %></td>
          <td><%= parcel.service_type.name %></td>
          <td><%= parcel.payment_mode %></td>
          <td><%= parcel.sender.name %></td>
          <td><%= parcel.receiver.name %></td>
          <td><%= parcel.tracking_id %></td>
          <td><%= link_to 'Show', parcel %></td>
          <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
          <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>