<div class="col-md-4">
  <%= form.label :address_line_one %>
  <%= form.text_field :address_line_one, class: "form-control", placeholder: "Address line one" %>
</div>

<div class="col-md-4">
  <%= form.label :address_line_two %>
  <%= form.text_field :address_line_two, class: "form-control", placeholder: "Address line two" %>
</div>

<div class="col-md-4">
  <%= form.label :city %>
  <%= form.text_field :city, class: "form-control", placeholder: "City" %>
</div>

<div class="col-md-4">
  <%= form.label :state %>
  <%= form.text_field :state, class: "form-control", placeholder: "State" %>
</div>

<div class="col-md-4">
  <%= form.label :country %>
  <%= form.text_field :country, class: "form-control", placeholder: "Country" %>
</div>

<div class="col-md-4">
  <%= form.label :pincode %>
  <%= form.text_field :pincode, class: "form-control", placeholder: "Pin code" %>
</div>

<div class="col-md-4">
  <%= form.label :mobile_number %>
  <%= form.text_field :mobile_number, class: "form-control", placeholder: "Mobile Number" %>
</div>